<div class="container content-wrapper">
  <div class="left-box">
    <div>
      <form class="search-box">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
      </form>
    </div>
  </div>
  <div class="right-box">
    <div class="info-box">
      <div class="info-bg">
        <div class="info-header">Kiev</div>
      </div>
    </div>
    <div class="info-box">
      <div class="info-bg">
        <div class="info-header">Kiev</div>
      </div>
    </div>
    <div class="info-box">
      <div class="info-bg">
        <div class="info-header">Kiev</div>
      </div>
    </div>
    <div class="info-box">
      <div class="info-bg">
        <div class="info-header">Kiev</div>
      </div>
    </div>
    <div class="info-box">
      <div class="info-bg">
        <div class="info-header">Kiev</div>
      </div>
    </div>
    <div class="info-box">
      <div class="info-bg">
        <div class="info-header">Kiev</div>
      </div>
    </div>
    <div class="info-box">
      <div class="info-bg">
        <div class="info-header">Kiev</div>
      </div>
    </div>
    <div class="info-box">
      <div class="info-bg">
        <div class="info-header">Kiev</div>
      </div>
    </div>
    <div class="info-box">
      <div class="info-bg">
        <div class="info-header">Kiev</div>
      </div>
    </div>
    <div class="info-box">
      <div class="info-bg">
        <div class="info-header">Kiev</div>
      </div>
    </div>
  </div>
</div>
