<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>Bordered Table</h2>

      <p>Info, price</p>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-7">
      <ngb-carousel>
        <template ngbSlide>
          <img src="http://lorempixel.com/900/500?r=1" alt="Random first slide">

          <div class="carousel-caption">
            <h3>First slide label</h3>

            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </template>
        <template ngbSlide>
          <img src="http://lorempixel.com/900/500?r=2" alt="Random second slide">

          <div class="carousel-caption">
            <h3>Second slide label</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </template>
        <template ngbSlide>
          <img src="http://lorempixel.com/900/500?r=3" alt="Random third slide">

          <div class="carousel-caption">
            <h3>Third slide label</h3>

            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </template>
      </ngb-carousel>

    </div>
  </div>
</div>
