<form [formGroup]="searchForm" (ngSubmit)="search(searchForm)">
  <div class="form-group">
    <label class="control-label">
      Place
    </label>
    <input class="form-control" type="text" formControlName="place">
  </div>
  <div class="form-group">
    <label class="control-label">
      Date start
    </label>
    <input class="form-control" type="date" formControlName="date_start">
  </div>
  <div class="form-group">
    <label class="control-label">
      Date end
    </label>
    <input class="form-control" type="date" formControlName="date_end">
  </div>
  <button class="btn btn-primary" type="submit">Search</button>
</form>
