.place-comments{
  padding: 20px 0 20px;
}

.link-centred{
  display: table;
  margin: 0 auto;
}

.center{
  text-align: center;
}

.comment-box{
  min-height: 85px;
}

.break-word{
  word-wrap: break-word;
}
