<div class="row place-comments">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-md-3">
        <a href="" class="link-centred"><img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y" class="img-thumbnail img-fluid rounded-circle" style="width:70px;"></a>
        <p class="center break-word">Userewewdddew23@gmail.com</p>
      </div>
      <div class="col-md-9">
        <div class="card card-default">
          <div class="card-block comment-box">
            "Blah text goes here blah bla! Hello blah period."<br>
            <span class="tag tag-info">11.11.11</span>
          </div>
        </div>
      </div><!--/col-->
    </div><!--/row-->

  </div><!--/col-->
  <div class="col-sm-12">

    <div class="row">
      <div class="col-md-3">
        <a href="" class="link-centred"><img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y" class="img-thumbnail img-fluid rounded-circle" style="width:70px;"></a>
        <p class="center break-word">Userewewewdd23@gmail.com</p>
      </div>
      <div class="col-md-9">
        <div class="card card-default">
          <div class="card-block comment-box">
            "Blah text goes here blah bla! Hello blah period."<br>
            <span class="tag tag-info">11.11.11</span>
          </div>
        </div>
      </div><!--/col-->
    </div><!--/row-->

  </div><!--/col-->
  <div class="col-sm-12">

    <div class="row">
      <div class="col-md-3">
        <a href="" class="link-centred"><img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y" class="img-thumbnail img-fluid rounded-circle" style="width:70px;"></a>
        <p class="center break-word">Usedddr23@gmail.com</p>
      </div>
      <div class="col-md-9">
        <div class="card card-default">
          <div class="card-block comment-box">
            "Blah text goes here blah bla! Hello blah period."<br>
            <span class="tag tag-info">11.11.11</span>
          </div>
        </div>
      </div><!--/col-->
    </div><!--/row-->

  </div><!--/col-->
  <div class="col-sm-12">

    <div class="row">
      <div class="col-md-3">
        <a href="" class="link-centred"><img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y" class="img-thumbnail img-fluid rounded-circle" style="width:70px;"></a>
        <p class="center break-word">Userewewew23@gmail.com</p>
      </div>
      <div class="col-md-9">
        <div class="card card-default">
          <div class="card-block comment-box">
            "Blah text goes here blah bla! Hello blah period."<br>
            <span class="tag tag-info">11.11.11</span>
          </div>
        </div>
      </div><!--/col-->
    </div><!--/row-->

  </div><!--/col-->
</div><!--/row-->
