:host{
  display: block;
  padding-top: 50px;
}

.right-box {
  width: 49%;
  padding: 0 .5% 0 0 !important;
  float: right;
}

.left-box {
  width: 49%;
  padding: 0 .5% 0 0 !important;
  margin: 0 !important;
  float: left;
}

.search-box {
  padding: 12px;
  border-radius: 3px;
  border: 1px solid;
  background: #febb02;
  background: -webkit-gradient(linear, left top, left bottom, from(#febb02), to(#febb02));
  background: -webkit-linear-gradient(top, #febb02 0, #febb02 100%);
  background: linear-gradient(to bottom, #febb02 0, #febb02 100%);
  border-color: #e2aa11;
  font-size: 13px;
  height: 330px;
}

.info-box {
  border: 1px solid #e9f0fa;
  margin-bottom: 10px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.info-bg {
  background-image: url(https://t-ec.bstatic.com/images/city/600x200/116/116252.jpg);
  position: relative;
  border-radius: 3px 3px 0 0;
  height: 200px;
  width: 100%;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 75px 0 0 15px;
}

.info-header {
  width: 100%;
  padding: 21px 15px 25px;
  top: 0;
  left: 0;
  margin-bottom: 12px;
  position: absolute;
  z-index: 2;
  color: #fff !important;
  text-shadow: 1px 1px 1px #000;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 27, 66, 0.65)), color-stop(100%, rgba(0, 27, 66, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 27, 66, 0.65) 0, rgba(0, 27, 66, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 27, 66, 0.65)), to(rgba(0, 27, 66, 0)));
  background: linear-gradient(to bottom, rgba(0, 27, 66, 0.65) 0, rgba(0, 27, 66, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001B42', endColorstr='#00001e47', GradientType=0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
