<md-toolbar color="primary">
  <button md-button layout="row" layout-align="end center">Sign in</button>
  <button md-button layout="row" layout-align="end center">Sign up</button>
</md-toolbar>

<!--<div style="padding: 7px">-->
<!--<button md-button>Basic Button</button>-->
<!--<button md-raised-button>Raised Button</button>-->

<!--<md-slide-toggle>Slide Toggle</md-slide-toggle>-->

<!--&lt;!&ndash; Optional Version Output &ndash;&gt;-->
<!--<hr>-->
<!--<p *ngIf="version | async" style="color: #333">-->
<!--Using Angular Material-->
<!--(SHA {{ (version | async)?.commit.message.split(" ")[0] }}) from-->
<!--{{ (version | async)?.commit.author.date | date: 'short' }}-->
<!--</p>-->

<!--</div>-->
