<md-toolbar scroll>
  <div class="md-toolbar-tools">
    <md-button class="md-tools" aria-label="Go Back">
      <md-icon aria-label="keyboard_arrow_left" class="material-icons">keyboard_arrow_left</md-icon>
    </md-button>
    <h2 md-header-title flex>Sari Yanti</h2>
    <md-button class="md-tools" aria-label="Edit Contact">
      <md-icon aria-label="assistant Photo" class="material-icons">&#xE3A0;</md-icon>
    </md-button>
    <md-button class="md-tools" aria-label="More">
      <md-icon aria-label="assistant Photo" class="material-icons">&#xE3E3;</md-icon>
    </md-button>
  </div>
</md-toolbar>

<!--<md-toolbar color="primary">-->
<!--<button md-button layout="row" layout-align="end center">Sign in</button>-->
<!--<button md-button layout="row" layout-align="end center">Sign up</button>-->
<!--</md-toolbar>-->

<!--<div style="padding: 7px">-->
<!--<button md-button>Basic Button</button>-->
<!--<button md-raised-button>Raised Button</button>-->

<!--<md-slide-toggle>Slide Toggle</md-slide-toggle>-->

<!--&lt;!&ndash; Optional Version Output &ndash;&gt;-->
<!--<hr>-->
<!--<p *ngIf="version | async" style="color: #333">-->
<!--Using Angular Material-->
<!--(SHA {{ (version | async)?.commit.message.split(" ")[0] }}) from-->
<!--{{ (version | async)?.commit.author.date | date: 'short' }}-->
<!--</p>-->

<!--</div>-->
