<div class="album text-muted">
  <div class="container">
    <place-image></place-image>
    <place-short-info></place-short-info>
    <div class="col-md-12">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a
        type specimen book. orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a
        type specimen book</p>
      <ul class="nav nav-pills">
        <li class="active">
          Room
        </li>
        <li>Guide
        </li>
        <li>Comments
        </li>
      </ul>

      <div class="tab-content clearfix">
        <place-room></place-room>
        <place-guide></place-guide>
        <place-comments></place-comments>
      </div>
    </div>
  </div>
</div>
